oldversions/
new_tunes/
backup/
kleztunes/
changed/
Bass/
Bb/
book/
combined/
combined1/
changed/
Eb/
f/
nomidi/
new_tunes/
oldversions/
temp/
*.ly~
*.midi
*.pdf
*.PDF
*.txt
*.swp
*.gz
*.zip
*.pl
*.sh
.DS_Store
